[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v2
Environment="PATH=/usr/bin:/bin:/usr/local/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/AirBnB_clone_v2/myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
